*{
    margin: 0px;
    padding: 2px;
}
.container{
width: 100%;
height: 100vh;
display: grid;
grid-template-columns: 300px 500px 200px;
grid-template-rows:300px 500px 200;
background: #d8d6d6;
grid-column-gap: 10px;
grid-row-gap: 10px;

}
.first-box{
    background: #970000;
 grid-row: 1/2;
   
}
.second-box{
background: #fda0a0;
grid-row-start: 1;
grid-row-end: 3;


}
.third-box{
background: #80B918;
grid-row: 1/1;
width: 200px;
height: 70px;


}
.fourth{
background: #DDDF00;
width: 200px;
height: 70px;
grid-row: 2;
grid-column: 3 ;

}
.fifth{
background: #EEEF20;
width: 200px;
height: 70px;
grid-row: 1;
grid-column: ;
}
.sixth{
    background: #FFFF3F;
   
}
.seventh{
background: #1a0057;

width: 448px;
height: 268px;
}
.eighth{
    background: #AACC00;
   
}
.ninth{
background: #BFD200;
width: 212px;
height: 122px;
}
.tenth{
    background: #D4D700;
    grid-row: 3;
    grid-column: 2;
    width: 212px;
height: 122px;
}
.eleventh{
    background: #007F5F;
    width: 448px;
    height: 268px;
}
.text{
background: #9BC1BC;
width: 1440px;
height: 146px;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 78px;
    text-transform: uppercase;
    color: #000000;
}