*{
    margin: 0px;
    padding: 2px;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;

}
.first-box{
    grid-row: 1/ 4;
    grid-column: 1/ 3;
    background-color: #f7093c;
   
}
.second-box{
    grid-row: 4/ 7;
    grid-column: 1/ 3;
    background-color: #e922dc;

}
.third-box{
    grid-row: 7/ 11;
    grid-column: 1/3;
    background-color: #0cd4e2;


}
.fourth{
    grid-row: 1/7;
    grid-column: 3/5;
    background-color: #4e1f34;

}
.fifth{
    grid-row: 7/9;
    grid-column: 3/4;
    background-color: #93A8AC;
}
.sixth{
    grid-row: 9/11;
    grid-column: 3/4;
    background-color: #ADA7C9;
   
}
.seventh{
    grid-row: 7/11;
    grid-column: 4/6;
    background-color: #66da1e;
}
.eighth{
    grid-row: 1/3;
    grid-column: 5/7;
    background-color: #338899;
   
}
.ninth{
    grid-row: 3/5;
    grid-column: 5/7;
    background-color: #89B6A5;
}
.tenth {
    grid-row: 5/7;
    grid-column: 5/7;
    background-color: #4C3B4D;
}
.eleventh{
    grid-row: 7/11;
    grid-column: 6/7;
    background-color: #2F323A;
}
.text{
    grid-row: 11/12;
    grid-column: 1/7;
    background-color: #9BC1BC;
    grid-gap: 0px; 
}
h1{
    font-size: 64px;
    font-weight: bold;

}