
    h1{
        text-align: center;
        margin-top: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .info-tiltle{
        margin-top: 45px;
        padding: 2px;
    }
    .info-container {
        background-color: rgb(76, 86, 88);
        font-family:'Open Sans', sans-serif;
        display: inline-block;
        max-height: 200px;
        max-width: 200px;
        padding: 5px;
        margin-top:150px;
        border: 6px solid rgb(162, 163, 162);
    }
    .pic1 .pic2 .pic3 {
    border: 5px solid green;
    display: inline-block;
    width: 500px;
    margin-top: 300px;
    }
    button {
        background-color: hotpink;
        margin-top: 55px;
        padding-bottom: 5px;
    }
body {
    background-color: blueviolet;

}